/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  max-width: 100vw;
  overflow-x: hidden;
  background-color: #efefef;
  margin: 0;
  padding: 0;
  max-width: 100vw;
} */

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

body {
  height: 100%;
  width: 100%;
  max-width: 100vw;
  overflow-x: hidden;
  background-color: #efefef;
  margin: 0;
  padding: 0;
  max-width: 100vw;
}
